[Unit]
Description=Dev Time server
After=network.target

[Service]
Type=simple
User=djc
WorkingDirectory=/home/djc/src/dev-time
ExecStart=/home/djc/.cargo/bin/cargo run --release --bin server
Restart=on-failure

[Install]
WantedBy=multi-user.target
